*{
    margin: 0%;
    padding: 0%;
}
.cont{
    padding: 2em;
    display: flex;
    flex-direction: column;
}
.nav{
    position: absolute;
    background-color: blue;
    height: 50px;
    width: 100%;
}
.linkClasses{
    color: rgb(4, 9, 68);
}
.lnk{
    color: rgb(255, 255, 255);
    margin-right: 2em;
}
.gr{
    color: rgb(255, 255, 255);
}
a:-webkit-any(:any-link){
    text-decoration: none;
}


.section1{
    height: 100vh;
    background: url("/public/images/bg-1.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
}
.types{
    z-index: 10;
    position: absolute;
    color: aliceblue;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.types h1{
    font-size: 4em;
}
.button-navi{
    margin-top: 10%;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}
.button-navi .btn{
    background-color: orange;
    border: none;
    font-size: 1em;
    padding: 0.8em 1.5em;
    border-radius: 25px;
}
.button-navi .btn:hover{
    background-color: aliceblue;
    border-color: aliceblue;
}
.im{
    height: 5em;
}
.pointer{
    cursor: pointer;
}

.view-course-image{
    width: 25rem;
    height: 25rem;
}

.certificate{
    width: 100%;
    height: 100%;
}